.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 70px;
			background-color: #fff;
			color: #000;
			overflow: auto;
			padding: toRem(30) toRem(15) toRem(105) toRem(15);
			transition: left 0.3s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(70);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		@media (max-width: $tablet) {
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@media (max-width: $tablet) {
		}
	}
}
.menu-open{
	.menu__icon {
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(1);
			background-color: #000 !important;
		}
	}
}
//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(20);
		height: toRem(13);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(1);
			background-color: #fff;
		}
		
		
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
			width: 80%;
			left: 0;
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
