@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("../fonts/BebasNeue-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: BebasNeueBold;
	font-display: swap;
	src: url("../fonts/BebasNeueBold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BebasNeueBook;
	font-display: swap;
	src: url("../fonts/BebasNeueBook.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BebasNeueRegular;
	font-display: swap;
	src: url("../fonts/BebasNeueRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BebasNeueLight;
	font-display: swap;
	src: url("../fonts/BebasNeueLight.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
