// Заголовки, общие БЄМ блоки и прочее...
h1 {
    font-family: "BebasNeueRegular", sans-serif;
    font-weight: 400;
    font-size: toRem(80);
    line-height: 120%;
    @include adaptiveValue("font-size", 80, 48);
}

h2 {
    font-family: "BebasNeueRegular", sans-serif;
    font-weight: 400;
    font-size: toRem(60);
    line-height: 120%;
    @include adaptiveValue("font-size", 60, 36);
}

h3 {
    font-weight: 400;
    font-size: toRem(28);
    line-height: 145%;
    @include adaptiveValue("font-size", 28, 20);
}

p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: toRem(16);
    letter-spacing: 0.15px;
    line-height: 160%;
    @include adaptiveValue("font-size", 16, 14);
}

.text_p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: toRem(16);
    line-height: 160%;
    letter-spacing: 0.15px;
    @media (max-width:$pc){
    font-size: toRem(14);
    }
}

.bold {
    font-family: "Noto Sans", sans-serif;
    font-size: toRem(16);
    line-height: 160%;
    font-weight: 600;
    letter-spacing: 0.15px;
    @media (max-width:$tablet) {
        font-weight: 700;
    }

    @media (max-width:$pc){
        font-size: toRem(14);
        }
}
summary{
    &::marker{
        content: "";
        display: none;
    }
}

//========================================================================================================================================================

.sub-line-title {
    position: relative;

    &::before {
        position: absolute;
        top: -25px;
        left: 0;
        content: '';
        background-color: $main;
        width: 150px;
        height: 2px;

        @media (max-width:$mobile) {
            top: -20px;
            width: 100px;
        }
    }
}

.line-small {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: $main;

    font-size: toRem(16);
    @include adaptiveValue("font-size",16 ,14 );
    &::before {
        content: '';
        width: 40px;
        height: 1px;
        background-color: $main;
        transition: all 0.3s;
        margin-right: 20px;
    }

    @media (any-hover: hover) {
        &:hover {
            &::before {
                content: '';
                width: 60px;

            }
        }
    }
}

.sep_opacity {
    background-color: #EBEBF0;
    opacity: 20%;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 26px 61px;;
    display: inline-block;
    background-color: $main;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    @media (max-width:$mobileSmall){
         padding: 20px 0;
         width: 100%;
         text-align: center; 

    }

    @media (any-hover: hover) {
        &:hover {
            background-color: #3A71D1;
        }
    }

}