@keyframes scroll {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.header {
    position: absolute;
    width: 100%;



    &._header-scroll {
        position: fixed;
        top: -200%;
        height: 75px;
        transition: top 0.5s ease 0s;
        background-color: #fff;
        color: #000;
        top: 0;
        animation: scroll .7s ease-in-out 0s 1 normal;
        border-bottom: none;

        .menu__icon {

            span,
            &::before,
            &::after {
                background-color: #000 !important;
            }
        }

        .header__logo {}

        .header__btn {
            color: #fff;
        }

        .header__logo-path {
            fill: $txt1;
        }
    }




    &._header-show {}

    /* .header__menu */
    color: #fff;
    height: 94px;
    border-bottom: 1px solid $sep_op;
    z-index: 1;

    @media (max-width:$pc) {
        height: 70px;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* .header__col */

    &__col {
        display: flex;
        align-items: center;
        height: 100%;

        @media (max-width:$tablet) {
            &:nth-child(2) {
                border-left: 1px solid $sep_op;
                margin-right: auto;
            }
        }
    }

    /* .header__logo */

    &__logo {
        padding: 0 50px;
        transition: all 0.3s ease-in-out;

        @media (max-width: toEm(1720)) {
            padding: 0 20px;

        }

        @media (max-width:$tablet) {
            padding-left: 48px;
            padding-right: 10px;

            .svg-logo-light-dims {
                width: 120px;
                height: 38px;
            }

        }

        @media (any-hover: hover) {
            &:hover {
                .header__logo-path {
                    transition: all 0.3s ease-in-out;
                    fill: $txt1;
                }
            }
        }

    }

    /* .header__phone */

    &__phone {
        display: flex;
        align-items: center;
        margin-right: 44px;

        @media (max-width: toEm(1720)) {
            margin-right: 20px;
        }

        @media (max-width:$pc) {
            margin-right: 10px;
        }

        @media (max-width: toEm(1200)) {
            display: none;
        }

        svg {
            margin-right: 14px;

            @media (max-width: toEm(1720)) {
                margin-right: 8px;
            }
        }
    }

    /* .header__phone-link */

    &__phone-link {}

    /* .header__btn */

    &__btn {
        background-color: $main;
        padding: 34px 50px;
        height: 100%;
        font-weight: 700;
        transition: all 0.3s;
        display: flex;
        align-items: center;

        @media (max-width:$pc) {
            padding: 20px 20px;

        }

        @media (max-width:$tablet) {
            padding: 25px 32px;

            p {
                display: none;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #3A71D1;
            }
        }
    }
}

.menu {
    height: 100%;

    /* .menu__icon */

    &__icon {
        margin: 0 30px;
    }


    /* .menu__line */

    &__line {
        margin-right: 50px;
        background-color: $sep_op;
        width: 1px;
        height: 100%;

        @media (max-width: toEm(1720)) {
            margin-right: 15px;
        }

        @media (max-width:$tablet) {
            display: none;
        }
    }

    /* .menu__body */

    &__body {
        @media (min-width:$tablet) {
            height: 100%;
        }
    }

    /* .menu__list */

    &__list {
        display: flex;

        @media (min-width:$tablet) {
            height: 100%;
        }

        @media (max-width: toEm(1045)) {
            font-size: toRem(12);
        }

        @media (max-width:$tablet) {
            flex-direction: column;
        }
    }

    /* .menu__item */

    &__item {
        position: relative;

        @media (min-width:$tablet) {
            height: 100%;
            display: flex;
            align-items: center;
        }

        &:not(:last-child) {
            margin-right: 50px;

            @media (max-width: toEm(1720)) {
                margin-right: 20px;
            }

            @media (max-width:$pc) {
                margin-right: 0.5rem;

            }
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 2px;
            /* Высота линии */
            background-color: $main;
            /* Цвет подчеркивания при исчезании линии*/
            transition: width 0.5s;
            /* Время эффекта */
        }

        @media (any-hover: hover) {
            &:hover {

                &::before {
                    width: 100%;
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    height: 2px; /* Высота линии */
                    background-color: $main; /* Цвет подчеркивания при появлении линии*/
                    transition: width 0.5s;  /* Время эффекта */
                    border: 1px solid $main;
                }

            }
        }
    }

    /* .menu__link */

    &__link {}


    /* .menu__footer */

    &__footer {
        border-top: 1px solid $sep;
        margin-top: 30px;
        padding-top: 30px;

        @media (min-width:$tablet) {
            display: none;
        }
    }

    /* .menu__footer-phone */

    &__footer-phone {
        font-size: toRem(20);
        font-weight: 600;
        margin-bottom: toRem(20);
    }

    /* .menu__item-wrap */

    &__item-wrap {
        &:not(:last-child) {
            margin-bottom: 11px;
        }

    }

    /* .menu__item-footer */

    &__item-footer {
        display: flex;
        align-items: center;

        svg {
            margin-right: 16px;
        }
    }

    /* .menu__text-footer */

    &__text-footer {}

    /* .menu__icons-wrap */

    &__icons-wrap {
        display: flex;
        margin-top: 25px;

        svg {
            margin-right: 15px;
        }
    }



    /* .menu__icon */

    &__icon {

        /* .menu__icon_vk */

        &_vk {
            width: 20px;
            height: 12px;
        }

        /* .menu__icon_inst */

        &_inst {
            width: 16px;
            height: 16px;
        }
    }


}

.menu-open {
    header {
        border-bottom: 1px solid $sep;
    }

    .header__logo svg {
        --xlink: href: url(../img/icons/icons.svg#logo-1) !important;
    }


    .header__menu {
        background-color: #fff;
    }

    .menu__list {
        font-size: toRem(16);
        line-height: 160%;
        font-weight: 600;

        .menu__item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media (max-width:$tablet) {
            font-weight: 700;
        }

        @media (max-width:$pc) {
            font-size: toRem(14);
        }
    }

    .menu__icon {}
}

.spollers__body {
    margin-top: 20px;
    margin-left: 20px;

    @media (min-width:$tablet) {
        display: none;
    }

    a {
        color: $txt2;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.spollers__title {
    display: flex;
    align-items: center;

    i {
        margin-left: 10px;
        font-size: toRem(21);
        transition: transform 0.3s ease;

        @media (min-width:$tablet) {
            display: none;
        }
    }

    &._spoller-active {
        i {
            transform: rotate(90deg);
        }
    }
}

.icon-menu {}